@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .mobileview {
        @apply max-lg:fixed duration-300 max-lg:w-full max-md:max-w-full max-lg:max-w-[400px] max-lg:flex-col max-lg:bg-[#00141B] bg-cover bg-center top-0 max-md:text-black max-lg:items-center max-lg:justify-center max-lg:min-h-screen
    }

    .navLinks {
        @apply relative after:absolute after:w-0 after:bg-white after:h-[2px] after:left-0 after:-bottom-[2px] hover:text-white hover:after:w-full after:duration-300 hover:opacity-100
    }

    .links {
        @apply font-normal text-sm 2xl:text-lg text-[#131200] opacity-70 duration-300 hover:opacity-100 capitalize font-Exo
    }

    .bg-header {
        @apply bg-[url(/assets/images/png/herobg.png)]
    }

    .h1 {
        @apply font-light text-4xl md:text-5xl xl:text-[64px] text-black capitalize font-Outfit xl:leading-[76px]
    }

    .h1 span {
        @apply font-extrabold text-black font-Montserrat xl:leading-[70px]
    }

    .h2 {
        @apply font-light text-3xl md:text-5xl text-black capitalize font-Outfit xl:leading-[57px]
    }

    .h2 span {
        @apply font-semibold text-black
    }

    .pTag {
        @apply font-Exo font-normal leading-5 md:leading-6 text-xs sm:text-sm md:text-base text-black opacity-70 tracking-[1px]
    }
}

.swiper-pagination {
    position: unset !important;
}

.swiper-pagination-bullet {
    width: 8px !important;
    height: 8px !important;
    opacity: 0.23 !important;
    background: #A854E9 !important;
}

.swiper-pagination-bullet-active {
    width: 28px !important;
    height: 8px !important;
    opacity: 1 !important;
    background: #A854E9 !important;
    border-radius: 22px !important;
}

.swiper-slide-active div {
    position: relative !important;
    border-color: #A854E9 !important;
}

.swiper-slide-active div::after {
    content: '';
    width: 100%;
    height: 5px;
    position: absolute !important;
    background-color: #A854E9;
    left: 0;
    bottom: 0;
}