@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth !important;
}

::-webkit-scrollbar {
    width: 0 !important;
}

@layer components {
    .mobileview {
        @apply max-lg:fixed duration-300 max-lg:w-full max-md:max-w-full max-lg:max-w-[400px] max-lg:flex-col max-lg:bg-white bg-cover bg-center top-0 max-lg:items-center max-lg:justify-center max-lg:min-h-screen max-lg:z-50
    }

    .links {
        @apply font-normal text-sm sm:text-base 2xl:text-lg text-[#131200] opacity-70 duration-300 capitalize font-Exo relative after:absolute after:w-0 after:bg-white after:h-[2px] after:left-0 after:-bottom-[2px] hover:after:w-full after:duration-300 hover:opacity-100
    }

    .bg-header {
        @apply bg-[url(/assets/images/webp/herobg2.webp)] lg:bg-[url(/assets/images/webp/herobg.webp)] bg-no-repeat bg-cover bg-left md:bg-center
    }

    .h1 {
        @apply font-light text-center md:text-start text-4xl md:text-5xl xl:text-[64px] text-black capitalize font-Outfit xl:leading-[76px]
    }

    .h1 span {
        @apply font-semibold xl:leading-[70px] text-3xl md:text-4xl lg:text-5xl
    }

    .h2 {
        @apply font-light text-center md:text-start text-3xl md:text-5xl text-black capitalize font-Outfit xl:leading-[57px]
    }

    .h2 span {
        @apply font-semibold text-black
    }

    .pTag {
        @apply font-Exo font-normal leading-5 md:leading-6 text-xs sm:text-sm md:text-base text-black opacity-70
    }
}

.swiper-pagination {
    position: unset !important;
}

.swiper-pagination-bullet {
    width: 8px !important;
    height: 8px !important;
    opacity: 0.23 !important;
    background: #A854E9 !important;
}

.swiper-pagination-bullet-active {
    width: 28px !important;
    height: 8px !important;
    opacity: 1 !important;
    background: #A854E9 !important;
    border-radius: 22px !important;
}

.swiper-slide-active div {
    position: relative !important;
    border-color: #A854E9 !important;
}

.swiper-slide-active div::after {
    content: '';
    width: 100%;
    height: 5px;
    position: absolute !important;
    background-color: #A854E9;
    left: 0;
    bottom: 0;
}

.loader::before,
.loader::after {
    animation: rotate9 1s infinite cubic-bezier(0.77, 0, 0.175, 1);
}

.loader::after {
    animation-delay: .5s;
}

@keyframes rotate9 {

    0%,
    100% {
        left: 50px;
    }

    25% {
        transform: scale(.3);
    }

    50% {
        left: 0;
    }

    75% {
        transform: scale(1);
    }
}